
# General
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Environment
.env
.venv
virtualenv/
venv/
ENV/
env/

# Docker
.dockerignore
docker-compose.override.yml

# MLflow
/mlruns/

# Data - Assuming you don't want to commit large data files
/data/downloaded/
/data/processed/
/data/processed_new/

# Models
/models/saved/

# IDE
.idea/
.vscode/
